.page {
  background-color: blue;
}

.content {
  min-height: 720px;
  max-height: 1000px;
  height: 100vh;
  background-color: rgb(8, 8, 8);
  display: flex;
}

.title {
  color: rgb(63, 63, 94);
  max-width: 729px;
  font-size: 100px;
  margin: 0 auto;
  text-align: center;
  justify-content: end;
  align-self: center;
}

.content_images {
}

.content_image-1 {
  position: absolute;
  width: 130px;
  height: 130px;
  top: 150px;
  left: 50px;
}

.content_image-2 {
  position: absolute;
  width: 130px;
  height: 130px;
  top: 390px;
  left: 90px;
}
.content_image-3 {
  position: absolute;
  width: 130px;
  height: 130px;
  bottom: 40px;
  left: 400px;
}
.content_image-4 {
  position: absolute;
  width: 130px;
  height: 130px;
  top: 120px;
  right: 230px;
}
.content_image-5 {
  position: absolute;
  width: 130px;
  height: 130px;
  top: 180px;
  right: 550px;
}
.content_image-6 {
  position: absolute;
  width: 130px;
  height: 130px;
}
