.content_image-1 {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 30px;
  left: 20px;
  transform: rotate(-10deg);
}

.content_image-2 {
  position: absolute;
  max-width: 350px;
  height: 350px;
  bottom: 400px;
  left: 160px;
  transform: rotate(8deg);
}
.content_image-3 {
  position: absolute;
  width: 300px;
  height: 300px;
  top: 390px;
  left: 50px;
  transform: rotate(5deg);
}
.content_image-4 {
  position: absolute;
  width: 250px;
  height: 250px;
  bottom: 700px;
  right: 100px;
  transform: rotate(-10deg);
}
.content_image-5 {
  position: absolute;
  width: 330px;
  height: 330px;
  top: 200px;
  right: 180px;
  transform: rotate(-5deg);
}
.content_image-6 {
  position: absolute;
  width: 275px;
  height: 275px;
  bottom: 100px;
  right: 100px;
  transform: rotate(10deg);
}

.content_image-7 {
  position: absolute;
  width: 230px;
  height: 230px;
  bottom: 30px;
  left: 200px;
}

.content_image-1,
.content_image-2,
.content_image-3,
.content_image-4,
.content_image-5,
.content_image-6,
.content_image-7 {
  position: absolute;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.content_image-1:hover {
  opacity: 1;
}
.content_image-2:hover {
  opacity: 1;
}
.content_image-3:hover {
  opacity: 1;
}
.content_image-4:hover {
  opacity: 1;
}
.content_image-5:hover {
  opacity: 1;
}
.content_image-6:hover {
  opacity: 1;
}
.content_image-7:hover {
  opacity: 1;
}
