.page {
  position: relative;
  background-color: #000000;
}

.page__content {
  display: flex;
}

.page__content_image {
  position: relative;
  filter: invert(100%);
  -webkit-filter: invert(100%);
  max-height: 100vh;
  max-width: 1080px;
  margin: 0 auto;
  padding: 0;
}

.page_title {
  position: absolute;
  font-family: "Caveat", cursive;
  color: #f66200;
  max-width: 300px;
  max-height: 1000px;
  font-size: 90px;
  padding: 0;
  margin: 0 auto;
  margin-top: 130px;
  display: flex;
  text-align: center;
  justify-self: center;
  align-self: center;
  z-index: 9999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /
}
